.bg-img {
  background-image: url(../images/bg-image.jpg);
}
.card-dark {
  background-color: rgba(26, 26, 26, 0.5);
}
.page-item:not(.active):hover .page-link {
  background-color: rgba(255, 255, 255, 0.2);
}
@media (min-width: 0px) {
  .container-fluid {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}
@media (min-width: 992px) {
  .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fb-comments > span {
  background-color: #b9b8b8;
}
.search-image {
  height: 120px !important;
}
